<div class="container mt-3">
  <div id="typed-strings">
    <h1 class="overflow-hidden">Adopt a Pet</h1>
    <h1 class="overflow-hidden">Donate a Pet</h1>
  </div>
  <h1 class="text-center typed-font" id="typed"></h1>
  <!-- <script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings',
      typeSpeed: 50,
      backSpeed: 50,
      smartBackspace: true,
      showCursor: false,
    });
  </script> -->

  <div class="cards">
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/600/450?random)">
      Choose Your Pet
    </div>

    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/605/460?random)">
      Choose Your Pet
    </div>

    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/610/470?random)">
      Choose Your Pet
    </div>
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/615/480?random)">
      Choose Your Pet
    </div>
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/620/490?random)">
      Choose Your Pet
    </div>
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/625/500?random)">
      Choose Your Pet
    </div>
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/630/510?random)">
      Choose Your Pet
    </div>
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/635/515?random)">
      Choose Your Pet
    </div>
    <div class="card-category"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://placedog.net/640/520?random)">
      Choose Your Pet
    </div>
  </div>
</div>