<div class="container mt-3">
  <div class="container mt-3">
    <div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3628100/pexels-photo-3628100.jpeg?cs=srgb&dl=pexels-eddie-galaxy-3628100.jpg&fm=jpg);">
      <div class="container">
        <p>
          <span id="banner-typed-text"></span>
        </p>
        <a class="btn btn-flat" href="#">Sign up</a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="cards">
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://super.abril.com.br/wp-content/uploads/2016/12/gato11.jpg?quality=70&strip=all)">
        Breakfast
      </div>
  <div class="cards">

    <% @pets.each do |pet| %>
      <a href="<%= "/pets/#{pet.id}" %>"> 
        <div class="card-category"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= "https://source.unsplash.com/1600x900/?#{pet.animal_type}" %>)"> 
          <%= pet.name %>
        </div>
      </a>
    <% end %>
  </div>
</div>
